.top { padding: 0; height: 244px; background: url(images/head.jpg) no-repeat;
    background-size:100%;
}
.text{
    margin-left:450px;
    margin-top:20px;
    align:center;
    font-size:28px;
    font-style:normal;
    font-stretch:normal;
    width:350px;
}
.rigth{
    margin:50px;
    margin-left:790px;
    width:550px;
    color:red;
}