<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<script language='javascript'>var curopenItem = '1';</script>
<base target="main" />
<body>
<div id='login_frame'>
    <h1>
        <div class='title'><tr>管理员操作</tr><br></div>
    </h1>
    <tr><a id="btn_login" href='/freeze.html' target='main'>冻结用户</a></tr><br>
    <tr><a id="btn_login" href='/refresh.html' target='main'>解除限制</a></tr><br>
</div>
</body>
</html>