<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="adminRight.css">
</head>
<body>
<div id="service_frame">
    <h1>限制违规帐户</h1>
    <form action="/freeze" method="post">
        请输入违规帐户：<input type="text" name="username"/><br>
        <div id="submit">
            <br><br>
            <input type="submit" id="certain" value="确定"/>
        </div>
    </form>
</div>
</body>
</html>