<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
<div id='login_frame'>
    <h1><tr>用户操作</tr></h1><br>
    <tr><a id="btn_login" href="/deposit.html" target='main'>存款</a></tr><br>
    <tr><a id="btn_login" href='/withdraws.html' target='main'>取款</a></tr><br>
    <tr><a id="btn_login" href='/transfer.html' target='main'>转账</a></tr><br>
    <tr><a id="btn_login" href="/findMoney.html" target='main'>查询</a></tr><br>
    <tr><a id="btn_login" href='/log?tempPage=1' target='main'>明细</a></tr><br>
</div>
</body>
</html>